{% extends 'base.html' %}

{% block content %}

<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="col-md-4">
        <div class="card shadow p-4">
            <h2 style="text-align: center; margin-bottom: 20px;">Criar Conta</h2>

            <form method="post">
                {% csrf_token %}

                <div style="margin-bottom: 15px;">
                    <label for="id_username">Nome de usuário</label>
                    {{ form.username }}
                </div>

                <div style="margin-bottom: 15px;">
                    <label for="id_password1">Senha</label>
                    {{ form.password1 }}
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="id_password2">Confirmar senha</label>
                    {{ form.password2 }}
                </div>

                <button type="submit" class="btn btn-info">Cadastrar</button>
            </form>

            <p style="margin-top: 15px; text-align: center;">
                Já tem conta?
                <a href="{% url 'login' %}">Fazer login</a>
            </p>
        </div>
    </div>    
</div>

{% if form.errors %}
    <div style="color: red;">
        {{ form.errors }}
    </div>
{% endif %}

{% endblock %}